@import '../styles/include-media.scss';

.experience {
  padding: 32px 0;
  overflow: auto;

  .column {
    float: left;
    width: 50%;

    @include media('<medium') {
      width: 100%;
    }
  }

  .right {
    @include media('<medium') {
      margin-top: 10px;
    }
  }
}