@import '../styles/include-media.scss';

#header {
  padding: 128px 16px;
  text-align: center !important;

  h1 {
    font-size: 64px;
    font-weight: bold;

    @include media('<medium'){
      font-size: 48px;
    }
  }

  button {
    margin-top: 16px;
    padding: 8px;
  }
}