@import '../styles/include-media.scss';

#header {
  padding: 128px 16px 84px;
  text-align: center !important;

  h1 {
    font-size: 64px;
    font-weight: bold;

    @include media('<medium'){
      font-size: 48px;
    }
  }

  button {
    border-radius: 5px;
    margin-top: 16px;
    padding: 8px;
    opacity: 0.75;
  }

  button:hover {
    opacity: 1;
  }
}