.job-card {
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
  padding: 9px;
  text-align: justify;

  div {
    margin-bottom: 5px;
  }

  .job-title {
    font-size: 20px;
  }

  .job-text {
    margin-top: 10px;
  }
}

.job-card:hover {
  border: 1px solid #00c5b5;
  transition: border 0.1s ease-in;
}