@import '../styles/include-media.scss';

#menubar {
  background-color: #000000;
  color: #AAAAAA;
  height: 100%;
  position: fixed!important;
  right: 0;
  overflow: auto;
  width: 60%;
  z-index: 2;

  @include media('<medium') {
    width: 100%;
  }
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
