@import '../styles/include-media.scss';

#menubar {
  background-color: #000000;
  color: #AAAAAA;
  height: 100%;
  position: fixed!important;
  right: 0;
  overflow: auto;
  width: 60%;
  z-index: 2;

  .menu-container {
    padding-top: 150px;

    .bar-block {
      color: #FFFFFF;
      display: block;
      font-size: 30px;
      font-weight: bold;
      padding: 8px 16px;
      opacity: 0.6;
      width: 100%;
      text-align: center;
    }

    .bar-block:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  @include media('<medium') {
    width: 100%;
  }
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 300ms ease-in;
}
